.nav{
    display: inline-block;
    margin-left: 4%;
    font-size: 25px;
    margin-top: 1%;
}
.firstButton{
    margin-left: 2%;
}
.background{
    background-color: cornflowerblue;
    margin-bottom: 1%;
    height: 70px;
}